/*
  Copyright 2022. Taeyoon Lee.
  All rights reserved
*/

@import url('./reset.css');
@import url('./normalize.css');

html,
body,
main,
section,
div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

html,
body,
div#__next {
  min-width: 100vw;
  min-height: 100vh;
}
